include ../_mixins/links.jade

.fixed
    if (custom_navigation)
        #customer-navigation
            #customer-logo
                img(src=custom_navigation.logo)
    #team-mentor-navigation
        a(href='/user/main.html')
            #tm-logo
        #links
            +links-navbar__home
            ul#message
                li
                    +mail-icon
                    span Found an issue? Send us
                        =  ' '
                        a#tm-support-email(href="mailto:support@securityinnovation.com") an email
                        =  '.'