doctype html
html(lang='en')
    include head
        link(href="/css/syntax-highlighting-github-style.css" rel="stylesheet")
    body
        include navbar_home
        if (custom_navigation)
            #customer
                block content
        else
            block content
