doctype html
html(lang='en')
    include head
    body
        include navbar_logged_out
        if (custom_navigation)
            #customer
                #landing-page
                    block content
        else
            #landing-page
                block content