include ../shared-mixins/globals.jade

//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'
- var tm_version  = 'TEAM Mentor v4.0 (Alpha 15)'

mixin copyright
    #copyright
        .row
            .col-offset-1.col-10
                a(href='http://www.securityinnovation.com/', target='_blank')
                    #si-logo
                include:marked ../../TM_Static/content/articles/copyright-information.md
                ul
                    li
                        +mail-icon
                        a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
                    li
                        +paperclip-icon
                        a#terms-and-conditions(href="/misc/terms-and-conditions") Terms & Conditions

//- Icons
mixin search-icon
  span.icon-Search(title='Search')
    span.path1
    span.path2
    span.path3

mixin index-icon
  span.icon-Index(title='Index')

mixin info-icon
  span.icon-Info(title='Info')

mixin logout-icon
  span.icon-Logout(title='Logout')

mixin mail-icon
  span.icon-Mail(title='Mail')

mixin twitter-icon
  span.icon-Twitter(title='Twitter')

mixin paperclip-icon
  span.icon-Paperclip(title='Terms & Conditions')

mixin php-icon
  span.icon-PHP(title='PHP')
    span.path1
    span.path2

mixin scala-icon
  span.icon-Scala(title='Scala')
      span.path1
      span.path2

mixin vulnerabilities-icon
  span.icon-Vulnerabilities(title='Vulnerabilities')
    span.path1
    span.path2

mixin wcf-icon
  span.icon-WCF(title='WCF')
    span.path1
    span.path2

mixin web-app-icon
  span.icon-Web-App(title='Web Application')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9
    span.path10
    span.path11

mixin net-icon
  span.icon-Net(title='.Net')
    span.path1
    span.path2

mixin net-3-5-icon
  span.icon-Net-3-5(title='.Net')
    span.path1
    span.path2

mixin ios-icon
  span.icon-iOS(title='iOS')
    span.path1
    span.path2

mixin java-icon
  span.icon-Java(title='Java')
    span.path1
    span.path2

mixin all-icon
  span.icon-All(title='Technology Independent')
    span.path1
    span.path2

mixin android-icon
  span.icon-Android(title='Android')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5

mixin c-icon
  span.icon-C(title='C++')
    span.path1
    span.path2

mixin checklist-icon
  span.icon-Checklist(title='Checklist')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5

mixin code-example-icon
  span.icon-CodeExample(title='Code Example')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9

mixin guideline-icon
  span.icon-Guideline(title='Guideline')
    span.path1
    span.path2

mixin principle-icon
  span.icon-Principle(title='Principle')
    span.path1
    span.path2

mixin how-to-icon
  span.icon-HowTo(title='How To')
    span.path1
    span.path2

mixin html5-icon
  span.icon-HTML5(title='HTML5')
    span.path1
    span.path2

mixin deploy-icon
  span.icon-Deploy(title='Deployment')
    span.path1
    span.path2

mixin design-icon
  span.icon-Design(title='Design')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5

mixin implement-icon
  span.icon-Implementation(title='Implementation')
    span.path1
    span.path2
    span.path3

mixin test-icon
  span.icon-Test(title='Test')
    span.path1
    span.path2

mixin default-icon
  span.icon-Default(title='Default')
    span.path1
    span.path2

mixin filter-icon(filter, title)
  span#filter-icon
    case filter
      when 'Type'
        case title
          when 'Checklist Item'
            +checklist-icon
          when 'Guideline'
            +guideline-icon
          when 'Code Example'
            +code-example-icon
          when 'How To'
            +how-to-icon
          when 'Vulnerability'
            +vulnerabilities-icon
          when 'Principle'
            +principle-icon
          default
            +default-icon

      when 'Technology'
        case title
          when '.NET'
          when 'ASP.NET 3.5'
          when 'ASP.NET 4.0'
            +net-icon
          when '.NET 3.5'
            +net-3-5-icon
          when 'Android'
            +android-icon
          when 'C++'
            +c-icon
          when 'iOS'
            +ios-icon
          when 'Java'
            +java-icon
          when 'PHP'
            +php-icon
          when 'Scala Play'
          when 'Scala with Play Framework'
            +scala-icon
          when 'WCF'
          when 'WCF 3.5'
            +wcf-icon
          when 'Web Application'
            +web-app-icon
          when 'HTML5'
            +html5-icon
          default
            +default-icon

      when 'Phase'
        case title
          when 'Deployment'
            +deploy-icon
          when 'Design'
            +design-icon
          when 'Implementation'
            +implement-icon
          when 'Test'
            +test-icon
          default
            +default-icon
